<div ng-controller="StatusController">
	Status
		<form name="statusForm" ng-submit="submitForm(statusForm.$valid)"
			novalidate>
			<h3>STATUS FORM</h3>
			<br>
			<div class="date">
				<span class="input-date-label">Date</span>
				<select name="dates" class="dated" required>
					<option selected disabled>-- Select Date --</option>
					<option ng-repeat="date in dates" value="{{date}}">
						{{date.title}}</option>
				</select>
			</div>
			<div class="projects">
			<span class="input-project-label">Project</span>
				<select name="projects" class="project_list" required>
					<option selected disabled>-- Select Project --</option>
					<option ng-repeat="project in project_list" value="{{project.name}}">
						{{project.name}}</option>
				</select>
			</div>
			<div class="activity">
			<span class="input-activity-label">Activity</span>
				<select name="activities" class="activity_list" required>
					<option selected disabled>-- Select Activity --</option>
					<option ng-repeat="activity in activity_list"
						value="{{activity.name}}">{{activity.name}}</option>
				</select>
			</div>
			<div class="time">
			<span class="input-time-label">Time Spend</span>
				<select name="hours" class="hours" required>
					<option selected disabled>-- Select Hour --</option>
					<option ng-repeat="hour in hours"
						value="{{hour.value}}">{{hour.value}}</option>
				</select>
<select name="minutes" class="minutes" required>
					<option selected disabled>-- Select Minute --</option>
					<option ng-repeat="minute in minutes"
						value="{{minute.value}}">{{minute.value}}</option>
				</select>
			</div>
<div class="time">
<div>
<span class="input-description-label">Activity description</span></div>
<div>
<textarea rows="4" cols="50" name="description" >
</textarea></div>
</div>
			<button type="submit" class="btn btn-primary"
				ng-disabled="statusForm.$invalid" style="text-align: center">Submit</button>
		</form>
	</div>

