<div>
	<h2 >
		Daily Status
	</h2>
</div>
<div class="daily_status">
<h4 >Bursts<h4 >
<form ng-submit="addItem()" id="ItemForm" novalidate >
    <div class="form_div">
      <br>  Date <br>
        <select ng-model="date"
            ng-options="date.title for date in dates" >
        </select>
    </div>
    <div class="form_div">
       <br> Project <br>
        <select ng-model="project"
            ng-options="project.title for project in project_list" >
        </select>
    </div>
    <div class="form_div">
       <br>Activity Type<br>
        <select ng-model="activity"
            ng-options="activity.title for activity in activity_list" >
        </select>
    </div>
    <div class="form_div">
        <br>Time Spent (hours:minutes)<br>
            <select ng-model="hour"
                ng-options="hour.value for hour in hours" >
            </select>
            <select ng-model="minute"
                ng-options="minute.value for minute in minutes" >
            </select>
    </div>
<div class="form_div1">
    <br>Activity Description <br>
        <textarea  rows="5" cols="60" ng-model="description"></textarea >
        <br/>
    <input type="submit" value="SAVE">
</div>
</form>
</div>
